<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat" rel="stylesheet">

html{
    font-family: 'Montserrat', sans-serif;
  /* font-family:proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; */
  color:#333;
  line-height:1.51;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.505em;
  margin: 0 0 1.4em 0;
  text-rendering: optimizelegibility;
}

/*
.subHeader{
  font-size:1.5em;
  font-weight:600;
  line-height:1.5em;
  margin-bottom:1.5em;
  text-transform: uppercase;
}

*/



em{
  font-style:italic
}

header {
}

section {
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin:0;
  letter-spacing: -1.05px;
  line-height: 1.3em;
  color:inherit;
  display:inherit;
  text-rendering:optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
  font-family: inherit;
  font-weight:normal;
  color:#7b7b7b
}

h1,h2,h3{
  line-height:1.45em;
}

h1{
  font-size: 3.25rem;
}



h2{
  font-size: 2.25rem;
}

h3{
  font-size:1.54rem;
}

h4{
  font-size:1.55rem;
}

h5{
  font-size:1.5rem
}

h6{
  font-size:1.1em
}

h1 small{
  font-size:2.8em;
}

h2 small{
  font-size:2.1em;
}

h3 small{
  font-size:1.8em;
}

h4 small{
  font-size:14px
}

ul,ol{
  padding:0
}

li{
  line-height:1.51;
  list-style: none;
  padding: 0 0 1em 0;
}

a, button {
  color:#333;
  text-decoration:none;
  -webkit-transition:0.2s ease color;
  transition: 0.2s ease color;
}

body {
  margin: 0;
  padding: 0;
}

.body-center {
  width: 100%;
  height: 100vh;
  position: relative;
}

img {
  min-width: 100%;
  height: calc(100vh + 15vh);
  flex: none;
}

@media only screen and (min-width: 1500px) {
  img {
    height: auto;
    min-height: calc(100vh + 8px);
  }
}

picture {
  vertical-align: top;
}

.photo-width, .birthday {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo-width {
  display: flex;
  justify-content: center;
  align-items: center;
}

.birthday {
  padding:1.5em;
  color: #ffffff;
}

.photo-width {
  overflow: hidden;
  height: 100vh;
}


.lazyload {
  opacity: 0;
  transition: opacity 400ms;
}
.lazyloading {
  background-color: #ff00dd;
}
.blur-up {
    -webkit-filter: blur(25px);
    filter: blur(25px);
    transition: filter 500ms, -webkit-filter 500ms;
}

.blur-up.lazyloaded {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.birthday, .annual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.birthday {
  text-align: center;
  background-color: rgba(0,0,0,.5);
}

.annual {
  margin-top: 3em;
  position: relative;
}

.annual, .lambert {
  width: 100%;
}

.title {
  padding: 1em 0;
}

.line-break {
  text-align: center;
  padding: .75em 0;
  margin-bottom: 2em;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.title::after, .title::before {
  content: '';
  display: block;
  height: 2px;
  width: 80px;
  background-color: #ddd;
  position: absolute;
  top: 1.55em;
}

.title::before {
  left: 0;
}

.title::after {
  right: 0;
}

.special {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1em;
  color: #ddd;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: .5em 0 1em 0;
}

.title span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.extra {
  font-size: .75rem !important;
}

.rsvp {
  font-family: 'Montserrat', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  padding: .75em 4em;
  border-radius: 5px;
  -webkit-transition: 0.1s ease-out;
  transition: .1s ease-out;
}

a:active.rsvp, a:hover.rsvp {
  background-color: #ffffff;
  border-width: 0px;
  color: #333;
}

@media only screen and (min-width: 700px) {
  .annual {
    margin-top: 5em;
    max-width: 600px;
  }
  .title::after, .title::before {
    height: 3px;
    width: 34%;
  }
  .line-break {
    border-width: 3px;
  }
  h2 {
    font-size: 2.75rem;
    padding: .25em 0;
  }
}

@media only screen and (min-width: 1000px) {
  .annual {
    margin-top: 6em;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    padding: .5em 0;
  }
  .special {
    font-size: 1.5rem;
  }
  .rsvp {
    padding: 1em 5em;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .annual {
    margin-top: 8em;
    max-width: 800px;
  }
  h2 {
    font-size: 3.5rem;
  }
  .rsvp {
    padding: 1em 5em;
    font-size: 1.25rem;
  }
}
